node_modules/
.DS_Store
*.log
.cache/
dist/

# PSP converter scratch space
psp-converter/.work/

# Android build
android/.gradle/
android/local.properties
android/app/build/
android/build/
android/.idea/
*.iml
*.apk
